
body  {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f0f0f0;
}

header {
display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    position: absolute;
    top: 0;
   
}

.stay-focused{
    color: #f0f0f0;
    background-color: #4b5efc;
}

.logo {
    color: #4b5efc;
    font-size: 24px;
    
}

.sign-up {
    background-color: #4b5efc;
    color: #fff8ff;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;}

.hero-bg {
  width: 50%;
  max-height: 100px;
  object-fit: cover;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin-top: -50px;
  background: white;
  padding: 5px;
}

.features, .action, .reviews, .newsletter {
  padding: 2rem;
  background: white;
  margin: 1rem 0;
}
.joined{
    background-color: aquamarine;
    border:300px 200px;
    font-size: larger;
    font-weight: 600;
}


footer {
  background-color: #222;
  color: white;
  padding: 1rem;
  cursor: pointer;
  
}
.div-my {
    background-color:#fff8ff;


}
